.nav-bar {
    background: black;
    width: 100%;
    height: 80px;
    position: auto;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.nav-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

    a {
        font-size: 22px;
        color: #FF7F00;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        height: 100%;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease-out;

        &:after {
            content: attr(data-text);
            font-size: 12px;
            letter-spacing: 1px;
            position: absolute;
            bottom: -30px;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        &:hover:after {
            opacity: 1;
        }
    }

    a.active {
        svg {
            color: #FF7F00;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: -5px;
}

.socials li {
    margin: 0;
    position: auto;

    a {
        color: #ffffff;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: color 0.3s ease;
        padding: auto;

        &:hover {
            color: #FF7F00;
        }
    }

    &::after {
        content: attr(data-text);
        font-size: 12px;
        letter-spacing: 1px;
        position: absolute;
        bottom: -30px;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        color: #ffffff;
    }

    a:hover::after {
        opacity: 1;
    }
}

/* Default (Desktop) Styles */
.hamburger-icon,
.close-icon {
    display: none;
}

/* Mobile Styles */
@media screen and (max-width: 1200px) {
    .nav-bar {
        height: auto;
        width: auto;
        flex-direction: flex;
        align-items: auto;
        padding: 0;
        background: linear-gradient(to bottom, #000000, #260c38);
    }

    .nav-container {
        flex-direction: column;
        width: 100%;
    }

    .nav-items,
    .socials {
        display: none;
        flex-direction: column;
        width: 0%;
        text-align: center;
        background: #090413;
    }

    .mobile-show .nav-items,
    .mobile-show .socials {
        display: flex;
        padding: 20px 0;
    }

    .nav-items a,
    .socials li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        text-decoration: none;
        color: #FF7F00;
        font-size: 16px;
    }

    .nav-items a::before,
    .socials li a::before {
        content: attr(data-text);
        display: block;
        font-size: 16px;
        letter-spacing: 1px;
        color: #FF7F00;
        transition: color 0.3s ease;
    }

    .nav-items a:hover::before,
    .socials li a:hover::before {
        color: #ffffff;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
        color: #FF7F00;
        font-size: 3rem;
        z-index: 3;
    }

    .close-icon {
        display: none;
    }

    .mobile-show .hamburger-icon {
        display: none;
    }

    .mobile-show .close-icon {
        display: block;
        cursor: pointer;
        color: #FF7F00;
        font-size: 3rem;
        z-index: 3;
    }

    /* Hide icons and only show data-text in mobile view */
    .nav-items a svg,
    .socials li a svg {
        display: none;
    }
}