.nav-bar {
    background: #000000;
    width: 100%;
    height: 80px;
    /* Adjust the height as needed */
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Add padding for spacing */

    .logo {
        display: block;

        img {
            display: block;
            margin: 0 auto;
            width: 75px;
            height: auto;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100%;
    margin: 0;
    width: auto;

    a {
        font-size: 22px;
        color: #FF7F00;
        display: flex;
        flex-direction: column;
        /* Align items in a column */
        align-items: center;
        /* Center items horizontally */
        justify-content: center;
        /* Center items vertically */
        padding: 0 20px;
        /* Add padding for spacing */
        height: 100%;
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease-out;

        i {
            transition: all 0.3s ease-out;
        }

        &:after {
            content: attr(data-text);
            font-size: 12px;
            letter-spacing: 2px;
            position: absolute;
            bottom: -2px;
            /* Position the label below the icon */
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }

        &:hover:after {
            opacity: 1;
            /* Show the label on hover */
        }
    }

    a.active {
        svg {
            color: #FF7F00;
        }
    }
}

.socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-left: 15px;

        a {
            font-size: 19px;
            line-height: 17px;
            color: grey;

            &:hover {
                .anchor-icon {
                    color: #FF7F00;
                }
            }
        }
    }
}

.hamburger-icon,
.close-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;

        ul,
        nav,
        .logo {
            display: none;
        }

        nav {
            width: 100%;
            background: #181819;
            margin: 0;
            position: fixed;
            top: 80px;
            /* Position below the logo on mobile */
            left: 0;
            z-index: 2;

            a {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 10px 20px;

                &::after {
                    margin-left: 10px;
                    position: initial;
                    opacity: 1;
                }

                svg {
                    opacity: 1 !important;
                }
            }

            &.mobile-show {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        .hamburger-icon,
        .close-icon {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}